<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HtmlAgilityPack" version="1.6.15" targetFramework="net45" />
  <package id="HtmlReportControl" version="1.1.0.1" targetFramework="net45" />
  <package id="sautinsoft.htmltortf" version="5.7.12.9" targetFramework="net45" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net45" />
  <package id="System.Windows.Forms.Ribbon35" version="3.5.8.0" targetFramework="net45" />
</packages>